body{ background: #fff;}
span.mui-icon{ margin-left: 0px; padding-right: 0px;}
.mui-content,.mui-grid-view.mui-grid-9{background: #fff;}
.mui-bar-nav~.mui-content { padding-bottom: 44px;height:100%}
.mui-off-canvas-left, .mui-off-canvas-right {background: rgba(32, 98, 179, 0.9);}
.cus-title{ margin: 10px 0px; padding-left: 10px; color: #fff;}
.mui-table-view-inverted,.mui-table-view{ background: none;}
.mui-table-view-inverted:before {
    background-color: #9e9e9e;
}
.mui-table-view-inverted .mui-table-view-cell:after{
    background-color: #9e9e9e;}
.mui-table-view-inverted:after{background-color: #9e9e9e;}
.mui-table-view-inverted .mui-table-view-cell.mui-active, .mui-table-view-inverted .mui-table-view-cell>a:not(.mui-btn).mui-active {
        background: rgba(81, 123, 187, 0.9)}  #offCanvasContentScroll {position: relative;
      
        overflow:visible;
    }
