
<div id="footmenu">
    <div class="footmenu">
        <div class="web_main" style="border: none; background: none">
            <div id="nav_bg" class="ui-tabs-nav ui-helper-clearfix ui-widget-header" style="border: none; width: 100%;">
                <ul class="nav nav1" id="" style="width: 100%;">
                    <li>
                        <a href="/" target="_self">学校首页</a>
                    </li>
                    <li>
                        <a href="/Index/List/5">教研成果</a>

                    </li>
                    <li>
                        <a href="/Index/List/6">安全教育</a>

                    </li>
                    <li>
                        <a href="http://192.168.1.18:99/index.html">校本资源库</a>

                    </li>

                    <li>
                        <a href="/D/Index">部门主页</a>
                    </li>
                    <li>
                        <a href="/S">师生空间</a>
                    </li>
                    <li>
                        <a href="/Index/Resource">教学资源</a>
                    </li>                
                    <li>
                        <a href="/Info">全站动态</a>
                    </li>

                </ul>
            </div>
        </div>    
    </div>
</div>
<div id="foot">
    <div class="foot">
        <div class="foot_1">
            <div id="ctl00_bottom1_divHeader">
                Copyright 2015 芜湖县赵桥中心学校
            </div>
            <div id="ctl00_bottom1_divBottom">
                电话：0553-8732300 地址：安徽省芜湖县湾沚镇 邮编：241100<br />
                备案：皖ICP备16007993-1  <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34022102000279" target="_blank">
                    <img src="http://www.beian.gov.cn/img/ghs.png" />公网安备34022102000279
                </a>
            </div>
        </div>
        <div class="foot_2">
            <img src="/Resource/weixin.jpg" height="150">
        </div>
    </div>
</div>