@using MvcWebSite.Models;
<div class="footmenu"><a href="#" target="_blank">校长信箱</a><a href="#" target="_blank">关于我们</a><a href="#" target="_blank">我们位置</a></div>
<div class="copyright">Copyright 2017 高科智慧校园<br>备案号：@(((Site)ViewBag.Site).RecordCode) <br>电话：@(((Site)ViewBag.Site).TellPhone) 地址：@(((Site)ViewBag.Site).Address) 邮编：@(((Site)ViewBag.Site).PostCode)</div>